{% extends "shop/base.html" %}
{% block content %}
<section class="info-page">
  <h2>О нас</h2>
  <p>Добро пожаловать в GASTLY!
Мы — команда, которая стремится объединить стиль, комфорт и качество в одном месте. Наш интернет-магазин предлагает широкий выбор модной одежды для мужчин и женщин, а также стильные аксессуары, которые дополнят любой образ.

Что нас отличает:
Современный ассортимент. Мы следим за последними трендами и обновляем коллекции каждую неделю.

Качество прежде всего. Мы сотрудничаем только с проверенными поставщиками и тщательно отбираем каждый товар.

Доступные цены. Стильная одежда не должна стоить дорого — у нас вы найдёте лучшее соотношение цены и качества.

Удобство покупок. Простая навигация, быстрая доставка и заботливая поддержка — мы делаем всё, чтобы шопинг был приятным.

Мы верим, что мода — это способ выразить себя. Именно поэтому мы создали [название магазина] — пространство, где каждый сможет найти что-то своё. Спасибо, что вы с нами!

</p>
</section>
{% endblock %}
